
.mainGrid{
    margin: 20px;
    display: grid;
    height: 100%;
    width: 100%;
    background-color: rgba(150, 159, 170, 0.2);
    grid-template-columns: repeat(4,minmax(100px,25%));
    grid-template-rows: 120px minmax(200px,400px);
    justify-content: center;
    align-content: center;
   
}

@media(max-width:425px){
    .mainGrid{
        margin: 0;
        grid-auto-flow: column;
        grid-template-rows: 100px repeat(2,400px);
        grid-template-columns: repeat(1,minmax(400px,100%));
   
    }
}



#screen{
   
}

#line{
    margin-top: 35px;
    margin: 35px 
}